[Unit]
Description=InventoryManager Local App
After=network.target

[Service]
Type=simple
User=tobryan
Group=www-data
WorkingDirectory=/opt/inventory_manager
Environment=PATH=/opt/inventory_manager/venv/bin
EnvironmentFile=/opt/inventory_manager/.env
ExecStart=/opt/inventory_manager/venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/opt/inventory_manager/inventory_manager.sock \
    app:app
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
